@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-2xl md:text-4xl font-medium text-gray-900;
  }
  h2,
  h3,
  h4 {
    @apply text-xl md:text-3xl font-medium text-gray-700;
  }
  p {
    @apply text-gray-600 text-base;
  }
  .react-markdown p {
    @apply mb-2;
  }
  .react-markdown ul {
    @apply list-disc list-inside text-gray-600 text-base;
  }
  .react-markdown ol {
    @apply list-decimal list-inside text-gray-600 text-base;
  }
  .react-markdown a {
    @apply text-blue-500 hover:underline;
  }
}
